# Sample Production Environment Variable File
# These variables should be set in App Service App Settings
# See: https://docs.microsoft.com/en-us/azure/app-service/web-sites-configure#app-settings

# Set the Production Settings Module
DJANGO_SETTINGS_MODULE="tweeter3.settings.production"

SECRET_KEY="my-secret-key"

# For deployment purposes, configure the Azure App Service Hostname
AZURE_APPSERVICE_HOSTNAME=""


# Configure the SQL Database with App Specific Settings
DB_USER=""
DB_PASSWORD=""
DB_NAME=""
DB_HOST=""
DB_PORT=""